<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid black;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
<div class="logout-bar">
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" class="logout-button" value="Logout">
    </form>
</div>
<h1>Users list</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>e-mail</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Роль</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <!-- Итерация по списку пользователей и вывод информации -->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td>
      <span th:each="role, iterStat : ${user.userRolesList}">
        <span th:text="${role.name}"></span>
          <!-- Добавляем запятую, если это не последний элемент -->
        <span th:if="${!iterStat.last}">, </span>
      </span>
        </td>

        <td>
            <!-- Ссылка для перехода к странице с информацией о пользователе -->
            <a th:href="@{/admin/edit/{id}(id=${user.id})}" class="btn btn-warning">Изменить</a>
            <a th:href="@{/admin/delete/{id}(id=${user.id})}" class="btn btn-danger">Удалить</a></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/admin/new}" class="btn btn-primary">Создать нового пользователя</a>

</body>
</html>